{{!< layout/default}}
{{#contentFor 'header'}}
  <div class="container">
    <div class="page-header">
      <h1><a href="/">CodeSkill</a> / {{#getValue strings.languages language}}{{/getValue}} / {{test.title}}</h1>
    </div>
  </div>
{{/contentFor}}
{{#contentFor 'body'}}
  <input type="hidden" class="language" value="{{test.language}}"/>
  <input type="hidden" class="code" value="{{test.code}}"/>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="test">
          <div class="test-head"><h2>Your task</h2>{{test.requirement}}</div>
          {{#if test.dataset}}
            <div class="dataset">
              {{> dataset test.dataset}}
            </div>
          {{/if}}
          <div class="code">
            {{#if test.script_head}}
              <div class="script-content script-head">{{test.script_head}}</div>
            {{/if}}
            <div class="script-solution">
              <textarea class="solution ident-{{test.ident}}" spellcheck="false" placeholder="{{placeholder}}"></textarea>
            </div>
            {{#if test.script_foot}}
              <div class="script-content script-foot">{{test.script_foot}}</div>
            {{/if}}
            <div class="test-status test-status-initial">
              <i class="glyphicon glyphicon-ok"></i> <i class="glyphicon glyphicon-remove"></i>
              <span class="msg"></span>
            </div>
          </div>
          <div class="test-foot">
            <div class="output-notice smaller">
              {{notice}}
            </div>
            <div class="actions">
              <a class="btn btn-sm btn-success btn-test-check"><i class="glyphicon glyphicon-play"></i> Run (CTRL+S)</a>
              <!--<a class="btn btn-sm btn-default btn-solve" href="#">Show the correct solution</a>-->
            </div>
          </div>
        </div>
        <div class="expected panel panel-default">
          <div class="panel-heading">Expected result</div>
          {{#if test.expected_table}}
            {{{test.expected_table}}}
          {{else}}
            <div class="panel-body smaller">
              {{#if test.validation_script}}
                <em>No output. Your code will be verified programmatically.</em>
              {{else}}
                {{test.expected_result}}
              {{/if}}
            </div>
          {{/if}}
        </div>
        {{#unless test.validation_script}}
          <div class="actual panel panel-default">
            <div class="panel-heading">Actual result</div>
            <div class="panel-body smaller">
              No output
            </div>
          </div>
        {{/unless}}
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">
            <h2>{{#getValue strings.languages language}}{{/getValue}}</h2>
            <!--
            <div class="languages">
              <a href="/tests/php"><span class="badge">PHP</span></a>
              <a href="/tests/js"><span class="badge">Javascript</span></a>
              <a href="/tests/mysql"><span class="badge">MySQL</span></a>
            </div>
            -->
          </li>
          {{#tests}}
            <a class="list-group-item {{#eq this.code ../test.code}}active{{/eq}}" href="/test/{{language}}/{{code}}">{{@index}}. {{title}}</a>
          {{/tests}}
        </ul>
      </div>
    </div>
  </div>
{{/contentFor}}
